html {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
    ::before {
      box-sizing: border-box;
    }
    ::after {
      box-sizing: border-box;
    }
  }
}

.app-container {
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
}
