$width-content: 1120px;
$width-aside: 180px;

$height-header: 60px;

// 一些从logo上取下来的颜色
$color-yellow: #ffc144;
$color-brown: #d59b41;
$color-green: #035f5f;
$color-lightRed: #ff6a5e;

$color-text-primary: #303133;
$color-text-regular: #606266;
$color-text-minor: #909399;
$color-text-placeholder: #c0c4cc;
